*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  inline-size: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.search-form__label:has(:active) {
  outline: none;
}

.search-form__label:has(.search-form__pseudo-checkbox) {
  cursor: pointer;
}

.search-form__textfield {
  display: block;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: #fff;
  font: inherit;
  background-color: transparent;
  inline-size: 225px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: #FFFFFFB2;
}

.search-form__textfield:active {
  border: 1px #fff solid;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  inline-size: 211px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #fff solid;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__label:hover .search-form__label-text {
  border-block-end: 1px #fff solid;
}

.search-form__label:active:has(.search-form__pseudo-checkbox) .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__label:active:has(.search-form__pseudo-checkbox) .search-form__label-text {
  border: none;
}

.button {
  border: 1px #fff solid;
  color: #fff;
  font: inherit;
  font-weight: 700;
  line-height: 1.2;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  block-size: 298px;
  -ms-overflow-style: none;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
}

.content__video-card {
  display: flex;
  padding: 2px;
  min-block-size: 107px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  margin: 2px;
  outline: 1px #fff solid;
}

.content__card-link:active .content__video-card {
  background-color: #545050;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  inline-size: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 1.11;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-inline-size: 194px;
  block-size: 103px;
}

.more-button {
  font-weight: 700;
  inline-size: 100%;
}

.content__card-link_current {
  background-color: #545050;
}